/* This file contains the browser specific style settings for "Election Results" template */
/* The common settings for the styles are defined in "electionresults.css" */

/* Use this file to perform the following: */

/* 1.  Set the body styles                      - { Style(s) to look for: html, body }*/
/* 2.  Set styles for icons                     - { Style(s) to look for: customButton,imgOptions,imgShare,tdHeader}*/
/* 3.  Set the styles for search container      - { Style(s) to look for: divAddressContent,divAddressPlaceHolder,divAddressResultContainer,imgLocate,txtAddress}*/
/* 4.  Set the styles for info window           - { Style(s) to look for: divResultChartContainer,divInfoWindowContent}*/
/* 5.  Set the styles for bottom panel          - { Style(s) to look for: divBottomPanelHeader,divChartTitle}*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styles for body*/

html, body
{
    font-size: 11px !important;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for icons*/

.customButton
{
    height: 25px !important;
}

.imgOptions
{
    height: 30px !important;
    width: 30px !important;
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}

.imgShare
{
    height: 30px !important;
    width: 30px !important;
    vertical-align: middle;
    cursor: pointer;
}

.tdHeader
{
    width: 50px;
    font-weight: bolder;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for search container*/

.divAddressContent
{
    position: absolute;
    background-color: #585858;
    top: 100px;
    right: 5px;
    width: 295px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.divAddressPlaceHolder
{
    width: 275px;
    height: 32px;
}

.divAddressResultContainer
{
    margin-top: 5px;
    margin-left: 8px;
}

.imgLocate
{
    height: 30px !important;
    width: 30px !important;
}

.txtAddress
{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    width: 240px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for infowindow */

.divResultChartContainer
{
    width: 424px;
    height: 210px;
    overflow: hidden;
}

.divInfoWindowContent
{
    position: absolute; /*width: 424px;*/
    height: 180px;
    overflow: hidden;
    margin-top: -10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*styles for boxes in bottom panel*/

.divBottomPanelHeader
{
    height: 40px !important;
}

.divChartTitle
{
    position: absolute;
    bottom: 3px;
    width: 100%;
}

/*-----------------------------------*/
