/* This file contains the tablet specific style settings for "Election Results" template */
/* The common settings for the styles are defined in "electionresults.css" */

/* Use this file to perform the following: */

/* 1.  Set the body styles                      - { Style(s) to look for: html, body } */
/* 2.  Set styles for icons                     - { Style(s) to look for: customButton,imgOptions,imgShare,tdHeader}*/
/* 3.  Set the styles for search container      - { Style(s) to look for: divAddressContent,divAddressPlaceHolder,divAddressResultContainer,imgLocate,txtAddress,bottomborder}*/
/* 4.  Set the styles for info window           - { Style(s) to look for: divResultChartContainer,divInfoWindowContent}*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styles for body*/

html, body
{
    font-size: 14px !important;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for icons */

.customButton
{
    height: 30px !important;
}

.imgOptions, .imgShare
{
    height: 44px !important;
    width: 44px !important;
    vertical-align: middle;
    cursor: pointer;
}

.tdHeader
{
    width: 60px;
    font-weight: bolder;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for search container*/

.divAddressContent
{
    position: absolute;
    background-color: rgba(98, 98, 98,.95);
    top: 100px;
    right: 4px;
    width: 295px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.divAddressPlaceHolder
{
    width: 278px;
    height: 46px;
}

.divAddressResultContainer
{
    margin-top: 5px;
    margin-left: 8px;
}

.imgLocate
{
    height: 44px !important;
    width: 44px !important;
}

.txtAddress
{
    font-size: 14px;
    height: 44px;
    width: 230px;
}

.bottomborder
{
    height: 30px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for bottom panel*/

.divBottomPanelHeader
{
    height: 50px;
}

.divChartTitle
{
    position: absolute;
    bottom: 5px;
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Styles for infowindow*/

.divResultChartContainer
{
    width: 424px;
    height: 200px;
    overflow: hidden;
}

.divInfoWindowContent
{
    position: absolute;
    width: 424px;
    height: 180px;
    overflow: hidden;
    margin-top: -10px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
